.header-back{
	background-image: url(img/header_img.jpg);
	height: auto;
	padding:8rem 0;
	height: 400px;
	margin-bottom:10px;
}

.header-title{
	color: #111;
	font-size: 60px;
	text-align: center;
/*	padding:8rem auto;*/
}

.title{
	font-size: 60px;
	margin:30px 0;
	width:200px;
}

.introduction-block{
	text-align: left;
}

.introduction-block ul li{
	font-size: 30px;
	padding-bottom: 5px;
}

.introduction-block ul li table{
	font-size: 15px;
}